         .adpop {  display: none;  width: 340px; min-height: 410px;  max-height: 750px;  height:320px;  position: absolute;  top: 100px;  left: 0;    right: 0;  margin: auto;  padding: 10px;  z-index: 130;  border-radius: 8px;  background-color: #fff;  box-shadow: 0 3px 18px rgba(100, 0, 0, .5);  }
        .adpop-top{  height:40px;  width:100%;  border-bottom: 1px #E5E5E5 solid;  }
        .adpop-top h2{  float: left;  display:black; margin-top:0!important;}
        .adpop-top span{  float: right;  cursor: pointer;  font-weight: bold; display:black}
        .adpop-foot{  height:50px;  line-height:50px;  width:100%;  border-top: 1px #E5E5E5 solid;  text-align: right;  }
        .adpop-cancel, .adpop-ok {  padding:8px 15px;  margin:15px 5px;  border: none;  border-radius: 5px;  background-color: #337AB7;  color: #fff;  cursor:pointer;  }
        .adpop-cancel {  background-color: #FFF;  border:1px #CECECE solid;  color: #000;  }
        .adpop-content{  height: 280px;  }
        .adpop-content-left{  float: left;  }
		.adpop-content-left p{font-size:14px; font-family: arial,sans-serif;color:#222;}
        .adpop-content-right{  width:310px;  float: left;  padding-top:20px;  padding-left:20px;  font-size: 16px;  line-height:35px;  }
        .adbgPop{  display: none;  position: fixed;  z-index: 129;  left: 0;  top: 0;  width: 100%;  height: 100%;  background: rgba(0,0,0,.85);  }
		.poph2 {font-size:16px;margin-top:4px;}
		.downloadadopen {
			display: inline-block;
			height: 30px;
			line-height: 30px;
			width: 140px;
			text-align: center;
			background-color: #f3f2f2;
			color: #000;
			font-size: 15px;
			border-radius: 8px;
			text-transform: capitalize;
			border: 1px solid #212121!important;
			margin-top:1px;
		}
		.freedownad a:hover{background-color:#333!important;color:#fff;}
		.adpop-content-left p{line-height:16px;margin:5px 0 5px;}
		.adpop-content-left{display:none;}
		.adhtml{margin:4px 0 4px;min-height: 260px;}

		h2 {    margin: 0px 0!important;};